<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>DASHBOARD</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sl.No</th>
                <th scope="col">Title</th>
                <th scope="col">Published On</th>
                <th scope="col">Author</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each allPosts}}
            <tr>
                <th scope="row"></th>
                <td><a href="/post/{{_id}}">{{title}}</a></td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td>{{publisher}}</td>
                <td>
                    <form method="GET" action="/post/edit/{{_id}}">
                        <button type="submit" class="btn btn-info">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="/post/{{_id}}">
                    <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_method" value="Delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form method="GET" action="/post/add">
    <button type="submit" class="btn btn-primary">New Post</button>
    </form>
    <br>
    <br>
    <form action="/logout">
    <button type="submit" class="btn btn-primary">Log Out</button>
    </form>
</body>

</html>